
html {height: 100%;}
body {
  min-height: 100%;
}

#game{
  margin: 0 auto;
  height:calc(100% - 88px);
  display:flex;
  padding-top: 10px;
  align-items:start;
  justify-content: center;
}


.bl {
  display: block;
}
/*
#game::after{
  content:"";display:block;
  clear:both;width:100%;
}
*/

#grid{
  display:block;
  background-color: #transparent;

  /*max-width:800px;*/
  margin:0 auto;
}


.grid-row > div{
  float: left;
  position: relative;
  background-repeat: no-repeat;
  z-index: 100;
  background-size:cover;
  /*outline: 1px solid #f0f;*/
}


.wall .wall{
  position: absolute;
  top: -10%;
  left: -10%;
  background-image:url(i/wall.png);
  background-repeat: no-repeat;
  width:110%;
  background-size: cover;
  padding-top:110%;
  display:inline-block;
}

.bwd, .right, .left, .fwd{
  padding-top:100%;
}


.floor{background-image:url(i/ground.png);}

.walkable{overflow:hidden;}
.walkable:before{cursor:pointer;display:block;content:"";position:absolute;top:0;left:0;width:100%;padding-bottom:100%;z-index:2;}
html[data-bg="0"] .walkable:before{background:rgba(230,159,159,0.6);}
html[data-bg="1"] .walkable:before{background:rgba(247,190,247,0.6);}
html[data-bg="2"] .walkable:before{background:rgba(143,191,219,0.6);}
html[data-bg="3"] .walkable:before{background:rgba(122,149,128,0.6);}
html[data-bg="4"] .walkable:before{background:rgba(156,129,158,0.6);}
html[data-bg="5"] .walkable:before{background:rgba(129,139,158,0.6);}
html[data-bg="6"] .walkable:before{background:rgba(123,211,219,0.6);}
html[data-bg="7"] .walkable:before{background:rgba(123,176,219,0.6);}
html[data-bg="8"] .walkable:before{background:rgba(245,229,166,0.6);}
html[data-bg="9"] .walkable:before{background:rgba(255,63,25,0.6);}
html[data-bg="10"] .walkable:before{background:rgba(39,146,246,0.6);}
html[data-bg="11"] .walkable:before{background:rgba(93,205,85,0.6);}
html[data-bg="12"] .walkable:before{background:rgba(237,148,237,0.6);}
html[data-bg="13"] .walkable:before{background:rgba(204,92,204,0.6);}
html[data-bg="14"] .walkable:before{background:rgba(97,110,209,0.6);}
html[data-bg="15"] .walkable:before{background:rgba(99,188,211,0.6);}
html[data-bg="16"] .walkable:before{background:rgba(120,147,111,0.6);}
html[data-bg="17"] .walkable:before{background:rgba(94,163,73,0.6);}
html[data-bg="18"] .walkable:before{background:rgba(249,255,131,0.6);}
html[data-bg="19"] .walkable:before{background:rgba(255,147,131,0.6);}
html[data-bg="20"] .walkable:before{background:rgba(184,156,129,0.6);}
html[data-bg="21"] .walkable:before{background:rgba(180,184,129,0.6);}
html[data-bg="22"] .walkable:before{background:rgba(129,155,185,0.6);}
html[data-bg="23"] .walkable:before{background:rgba(154,129,184,0.6);}
html[data-bg="24"] .walkable:before{background:rgba(167,129,185,0.6);}
html[data-bg="25"] .walkable:before{background:rgba(185,80,114,0.6);}
html[data-bg="26"] .walkable:before{background:rgba(108,90,76,0.6);}
html[data-bg="27"] .walkable:before{background:rgba(106,73,106,0.6);}
html[data-bg="28"] .walkable:before{background:rgba(210,207,125,0.6);}
html[data-bg="29"] .walkable:before{background:rgba(251,176,106,0.6);}
html[data-bg="30"] .walkable:before{background:rgba(190,156,123,0.6);}
html[data-bg="31"] .walkable:before{background:rgba(126,192,131,0.6);}
html[data-bg="32"] .walkable:before{background:rgba(125,186,191,0.6);}
html[data-bg="33"] .walkable:before{background:rgba(148,126,192,0.6);}
html[data-bg="34"] .walkable:before{background:rgba(89,131,95,0.6);}
html[data-bg="35"] .walkable:before{background:rgba(118,130,88,0.6);}
html[data-bg="36"] .walkable:before{background:rgba(98,134,139,0.6);}
html[data-bg="37"] .walkable:before{background:rgba(170,149,177,0.6);}
html[data-bg="38"] .walkable:before{background:rgba(153,181,158,0.6);}
html[data-bg="39"] .walkable:before{background:rgba(167,195,254,0.6);}
html[data-bg="40"] .walkable:before{background:rgba(253,195,166,0.6);}

.bwd{background-image:url(i/backward.png), url(i/ground.png);}
.right{background-image:url(i/chrright.png), url(i/ground.png);}
.left{background-image:url(i/chrleft.png), url(i/ground.png);}
.fwd{background-image:url(i/forward.png), url(i/ground.png);}
.stone{background-image:url(i/stone.png), url(i/ground.png);}
.base{background-image:url(i/base.png), url(i/ground.png);}
.based{background-image:url(i/based.png), url(i/ground.png);}


/* Pushing */
.pushing-0.fwd{background-image:url(i/push-top-0.png), url(i/ground.png);}
.pushing-0.left{background-image:url(i/push-left-0.png), url(i/ground.png);}
.pushing-0.right{background-image:url(i/push-right-0.png), url(i/ground.png);}
.pushing-0.bwd{background-image:url(i/push-bottom-0.png), url(i/ground.png);}

.pushing-1.fwd{background-image:url(i/push-top-1.png), url(i/ground.png)}
.pushing-1.left{background-image:url(i/push-left-1.png), url(i/ground.png)}
.pushing-1.right{background-image:url(i/push-right-1.png), url(i/ground.png)}
.pushing-1.bwd{background-image:url(i/push-bottom-1.png), url(i/ground.png)}

.pushing-2.fwd{background-image:url(i/push-top-2.png), url(i/ground.png);}
.pushing-2.left{background-image:url(i/push-left-2.png), url(i/ground.png);}
.pushing-2.right{background-image:url(i/push-right-2.png), url(i/ground.png);}
.pushing-2.bwd{background-image:url(i/push-bottom-2.png), url(i/ground.png);}

/* Walking */
.walking-0.fwd{background-image:url(i/forward-0.png), url(i/ground.png);}
.walking-0.left{background-image:url(i/chrleft-0.png), url(i/ground.png);}
.walking-0.right{background-image:url(i/chrright-0.png), url(i/ground.png);}
.walking-0.bwd{background-image:url(i/backward-0.png), url(i/ground.png);}

.walking-1.fwd{background-image:url(i/forward-1.png), url(i/ground.png);}
.walking-1.left{background-image:url(i/chrleft-1.png), url(i/ground.png);}
.walking-1.right{background-image:url(i/chrright-1.png), url(i/ground.png);}
.walking-1.bwd{background-image:url(i/backward-1.png), url(i/ground.png);}

.walking-2.fwd{background-image:url(i/forward-2.png), url(i/ground.png);}
.walking-2.left{background-image:url(i/chrleft-2.png), url(i/ground.png);}
.walking-2.right{background-image:url(i/chrright-2.png), url(i/ground.png);}
.walking-2.bwd{background-image:url(i/backward-2.png), url(i/ground.png);}

.base.fwd{background-image:  url(i/backward.png),url(i/base.png), url(i/ground.png);}
.base.left{background-image: url(i/chrleft.png), url(i/base.png), url(i/ground.png);}
.base.right{background-image:url(i/chrright.png),url(i/base.png), url(i/ground.png);}
.base.bwd{background-image:  url(i/forward.png), url(i/base.png), url(i/ground.png);}

.link {
  display: inline-block;
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  border-bottom:1px solid #fff;
}

.linkNoUnderline{
  display: inline-block;
  color: #fff;
  font-size: 30px;
  text-decoration: none;
}

.link:hover {
  opacity: 0.5;
}

#info{
  position: absolute;
  background: url(i/stone2.png) repeat 0 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 102;
  color: #111;
  overflow:hidden;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  clear:both;
  height:70px;
  padding:5px 0 5px 0;
  margin:5px auto 0;
  font-size: 15px;
  text-align: center;
  border-top:1px solid #333;
  box-shadow:1px 0 1px #555;
}

#info .block{
  letter-spacing:0.1vw;
  margin:0 10px 0 0;
  color: #000;
}

#info .block span{
  font-weight: bold;
}

#info .block .best,
#info .block .best span{
  text-shadow:none;
  letter-spacing:0;
  font-family: Arial, sans-serif;
  font-weight:normal;
  color:#000;
  font-size:11px;
}

#info .block .best #best{color:#900;font-weight:bold;}

#info .block span,
#info .block a {
  font-size: 15px;
}

#info .infos{
  text-align: left;
}

#info .block b{
  font-size: 15px;
  width: 70px;
  float: left;
}

#info .infos b{
  line-height: 21px;
}

#info .infos,
#info .infos span{
  font-size:18px;
}

.block>div{
  display:block;
  height:20px;
  border:1px solid #555;
  padding:3px;
  margin:2px;
  box-shadow: 1px 1px 2px #000;
  background: rgba(250,250,250,0.2);
}

#info .block>div b{
  width:55px;
  text-indent:4px;
  line-height:20px;
}

#info .block a{
  color:#555;
  text-decoration:none;
}

a kbd{
  text-decoration: underline;
  color: #000;
}

#info #moves,
#info #pushes{
    text-align: right;
}

#info .off{
  opacity: 0.5;
}

#info #map{font-size:15px;margin:0 1vw 5% 0;}

.flex{display:flex;}

.center{
  align-items: center;
  justify-content: center;
}

#undo{
  margin: 0 10px;
  background:url(i/undo.png) no-repeat 50% 100%;padding-bottom:45px;background-size:50px 50px;
}

#restart{
  background:url(i/restart.svg) no-repeat 50% 100%;padding-bottom:35px;background-size:30px 30px;
}

#map,
#world{
  cursor: pointer;
  text-decoration: underline;
}