/* End of the game */

/*html.end{background:#333 !important;}*/

.end #grid .wall,
.end #grid .floor{background-color:#000;background-image:none;}

.end #grid .wall .wall{}
.end #grid .bwd{background-image:  url(i/backward.png);}
.end #grid .right{background-image:url(i/chrright.png);}
.end #grid .left{background-image: url(i/chrleft.png);}
.end #grid .fwd{background-image:  url(i/forward.png);}
.end #grid .stone{background-image:url(i/stone.png);}
.end #grid .base{background-image: url(i/base.png);}
.end #grid .based{background-image:url(i/based.png);z-index:102;}

.end #grid .walkable{cursor:default;}
.end #grid .walkable:before{background:transparent;cursor:default;}

.end #grid .pushing-0.fwd{background-image:url(i/push-top-0.png);}
.end #grid .pushing-0.left{background-image:url(i/push-left-0.png);}
.end #grid .pushing-0.right{background-image:url(i/push-right-0.png);}
.end #grid .pushing-0.bwd{background-image:url(i/push-bottom-0.png);}

.end #grid .pushing-1.fwd{background-image:url(i/push-top-1.png);}
.end #grid .pushing-1.left{background-image:url(i/push-left-1.png);}
.end #grid .pushing-1.right{background-image:url(i/push-right-1.png);}
.end #grid .pushing-1.bwd{background-image:url(i/push-bottom-1.png);}

.end #grid .pushing-2.fwd{background-image:url(i/push-top-2.png);}
.end #grid .pushing-2.left{background-image:url(i/push-left-2.png);}
.end #grid .pushing-2.right{background-image:url(i/push-right-2.png);}
.end #grid .pushing-2.bwd{background-image:url(i/push-bottom-2.png);}

.end #grid .pushing-0.fwd,
.end #grid .pushing-0.left,
.end #grid .pushing-0.right,
.end #grid .pushing-0.bwd,
.end #grid .pushing-1.fwd,
.end #grid .pushing-1.left,
.end #grid .pushing-1.right,
.end #grid .pushing-1.bwd,
.end #grid .pushing-2.fwd,
.end #grid .pushing-2.left,
.end #grid .pushing-2.right,
.end #grid .pushing-2.bwd{z-index:101;}

.end div[class*="pushing"]{top:0;left:0;
  background-color:#000;
  transition-property: box-shadow;
  transition-duration: 1s;
  box-shadow:0 0 200px 1000px #000;}